.laureate-card {
  width: 20rem;
  &__tags {
    &__share {
      padding: 4px 8px;
      background-color: #2196f3;
      color: white;
      border-radius: 4px;
    }
    &__times {
      padding: 4px 8px;
      background-color: #f44336;
      color: white;
      border-radius: 4px;
    }
  }
  &__card-border {
    border: 1px solid;
  }
  &_trophy-icon {
    color: #e4c36c;
  }
  &__motivation {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
