.laureate-card {
  width: 20rem;
  &__tags {
    &__share {
      padding: 4px 8px;
      background-color: #2196f3;
      color: white;
      border-radius: 4px;
    }
    &__times {
      padding: 4px 8px;
      background-color: #f44336;
      color: white;
      border-radius: 4px;
    }
  }
  &__won-more-the-one-times {
    border: 1px solid;
  }
}
